*.iml
.gradle
build/

/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/.idea/migrations.xml
/深圳Api.txt


keystore/jianmoweather.jks
keystore/keystore.properties