<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- ======================== 运行时权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".JianMoApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/App.Theme.JianMoWeather"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="s">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="54cc73322bb9c151b6569af64f03a4a5" />

        <service
            android:name="com.amap.api.location.APSService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name="dev.shuanghua.weather.ui.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/App.Theme.JianMoWeather"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>